<div class="w-full p-4 bg-indigo-500 flex justify-between text-white text-[16px] font-mono font-bold">
    <div class="flex gap-10">
        <a href="/">E-cart</a>
        <a href="/about">About our products</a>
    </div>
    <a href="/product">Products</a>
</div>