<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title><%= title %></title>

</head>
<body>

    <div>
        <%- include('../partials/Navbar.ejs') %>
    </div>
    
</body>
</html>