<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title><%= title%></title>
</head>
<body>

    <div>
        <%- include('../partials/Navbar.ejs') %>
    </div>
    <div>
        <h1>welcome to e cart london</h1>
    </div>
    
</body>
</html>