<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title><%= title %></title>

</head>
<body class="">

    <div>
        <%- include('../partials/Navbar.ejs') %>
    </div>
    <div id="app">

    </div>

    <%- include('../partials/script.ejs');  %>
    
</body>
</html>